<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Review</title>
  <!-- css -->
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <!-- container -->
  <div id="container" class="container">
    
    <h1 class="title"> {{ title }} </h1>
    <!-- card__inner -->
    <div class="card__inner">
      <!-- card__item -->
      <div class="card__item" v-for="(item, idx) in copiedArr" :key="item.id">
        <!-- card front -->
        <div class="card__front">
          <div class="card__header">
            <span> {{ item.id}} </span> 
            <span> {{ item.languages.en.topic }} </span>
          </div>

          <div class="card__body">
            <div class="card__content">
              <span class="card__word" v-for="word in item.languages.en.words"> {{ word }} </span>
            </div>
          </div>

        </div> <!-- card__front -->
        <!-- card back -->
        <div class="card__back">
          <div class="card__header back">
            <span> {{ item.id }} </span> 
            <span> {{ item.languages.uk.topic}} </span>
          </div>

          <div class="card__body">
            <div class="card__content">
              <span class="card__word" v-for="word in item.languages.uk.words"> {{ word }} </span>
            </div>
          </div>

        </div> <!-- /back -->
      </div> <!-- /card__item -->
    </div> <!-- /card__inner -->
    
  </div> <!-- /container -->


  <!-- vue3 cdn -->
  <script src="https://unpkg.com/vue@next"></script>
  <!-- javascript -->
  <script type="module" src="./assets/js/app.js"></script>
</body>
</html>